<div class="modal-backdrop fade show"></div>

<div class="modal d-block">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <!-- HEADER -->
      <div class="modal-header bg-light border-bottom">
        <h5 class="modal-title fw-bold text-dark">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="closed.emit()"></button>
      </div>

      <!-- BODY -->
      <div class="modal-body">

        @if (mode === 'delete') {
        <p class="mb-0 fs-5">
          ¿Seguro que deseas eliminar el producto
          <strong>{{ product?.nombre ?? 'este producto' }}</strong>?
        </p>

        <div class="mt-4 d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-danger" (click)="onSubmit()">Borrar</button>
          <button type="button" class="btn btn-secondary" (click)="closed.emit()">Cancelar</button>
        </div>

        } @else {
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="row g-3">

            <!-- NOMBRE -->
            <div class="col-md-8">
              <label class="form-label">Nombre</label>
              <input class="form-control" type="text" formControlName="nombre" />
              @if (Control['nombre'].hasError('required') && Control['nombre'].touched) {
              <div class="text-danger small">*El campo nombre es obligatorio</div>
              }
            </div>

            <!-- STOCK -->
            <div class="col-md-4">
              <label class="form-label">Stock</label>
              <input class="form-control shadow-sm" type="number" formControlName="stock" />
              @if (Control['stock'].hasError('required') && Control['stock'].touched) {
              <div class="text-danger small">*El campo Stock es obligatorio</div>
              }
              @if (Control['stock'].hasError('min') && Control['stock'].touched) {
              <div class="text-danger small">*El stock no puede ser negativo</div>
              }
            </div>

            <!-- PRECIO COSTO -->
            <div class="col-md-6">
              <label class="form-label">Precio compra</label>
              <input class="form-control shadow-sm" type="number" formControlName="precioCosto" />
              @if (Control['precioCosto'].hasError('required') && Control['precioCosto'].touched) {
              <div class="text-danger small">*El campo precio de COSTO es obligatorio</div>
              }
              @if (Control['precioCosto'].hasError('min') && Control['precioCosto'].touched) {
              <div class="text-danger small">*El precio de costo debe ser mayor a 0</div>
              }
            </div>

            <!-- PRECIO VENTA -->
            <div class="col-md-6">
              <label class="form-label">Precio venta</label>
              <input class="form-control shadow-sm" type="number" formControlName="precioVenta" />
              @if (Control['precioVenta'].hasError('required') && Control['precioVenta'].touched) {
              <div class="text-danger small">*El campo precio de VENTA es obligatorio</div>
              }
              @if (Control['precioVenta'].hasError('min') && Control['precioVenta'].touched) {
              <div class="text-danger small">*El precio de venta debe ser mayor a 0</div>
              }
            </div>

            <!-- PROVEEDOR -->
            <div class="col-md-4">
              <label class="form-label">Proveedor</label>
              <ng-select [items]="proveedores" bindLabel="nombre" bindValue="id" placeholder="Seleccione proveedor"
                formControlName="proveedorId">
              </ng-select>
              @if (Control['proveedorId'].hasError('required') && Control['proveedorId'].touched) {
              <div class="text-danger small">*El campo proveedor es obligatorio</div>
              }
            </div>

            <!-- CATEGORÍA -->
            <div class="col-md-4">
              <label class="form-label">Categoría</label>
              <ng-select [items]="categorias" bindLabel="nombre" bindValue="id" placeholder="Seleccione categoría"
                formControlName="categoriaId">
              </ng-select>
              @if (Control['categoriaId'].hasError('required') && Control['categoriaId'].touched) {
              <div class="text-danger small">*El campo categoría es obligatorio</div>
              }
            </div>

            <!-- MARCA -->
            <div class="col-md-4">
              <label class="form-label">Marca</label>
              <ng-select [items]="marcas" bindLabel="nombre" bindValue="id" placeholder="Seleccione marca"
                formControlName="marcaId">
              </ng-select>
              @if (Control['marcaId'].hasError('required') && Control['marcaId'].touched) {
              <div class="text-danger small">*El campo marca es obligatorio</div>
              }
            </div>

          </div>

          <!-- BOTONES dentro del form -->
          <div class="mt-4 d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-success">
              {{ mode === 'create' ? 'Crear' : 'Guardar' }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="closed.emit()">Cancelar</button>
          </div>

        </form>
        }

      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show"></div>