<div class="modal-backdrop fade show"></div>

<div class="modal d-block">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg">

      <div class="modal-header bg-light border-bottom px-4 py-3">
        <h5 class="modal-title fw-bold text-dark">
          {{ title }}
        </h5>
        <button type="button" class="btn-close" (click)="closed.emit()"></button>
      </div>

      <div class="modal-body p-4">

        @if (mode === 'delete') {

        <p class="mb-0 fs-5 text-center py-4">
          ¿Seguro que deseas eliminar la reparación
          <strong class="text-danger">{{ reparacion?.id ?? '' }}</strong>?
        </p>

        } @else {

        <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">

          <div class="row g-4 mb-3">

            <div class="col-md-6">
              <label class="form-label fw-semibold">Cliente</label>
              <input type="text" class="form-control shadow-sm" formControlName="nombreCliente"
                placeholder="Nombre del cliente" />
              <div class="text-danger small mt-1"
                *ngIf="form.get('nombreCliente')?.touched && form.get('nombreCliente')?.invalid">
                * Ingrese el nombre del cliente
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label fw-semibold">Contacto</label>

              <input type="number" class="form-control shadow-sm" formControlName="contacto" placeholder="2302XXXXXX" />

              <div class="text-danger small mt-1"
                *ngIf="form.get('contacto')?.touched && form.get('contacto')?.invalid">

                * Ingrese un contacto válido
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label fw-semibold">Mano de obra</label>
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light">$</span>
                <input type="number" class="form-control" formControlName="valorManoDeObra" placeholder="0" min="0" />
              </div>

              <div class="text-danger small mt-1"
                *ngIf="form.get('valorManoDeObra')?.touched && form.get('valorManoDeObra')?.invalid">
                * Ingresá un valor válido (mayor o igual a 0)
              </div>
            </div>

            <div class="col-12 mt-3">
              <label class="form-label fw-semibold">Observación</label>
              <textarea class="form-control shadow-sm" formControlName="observacion" [readonly]="mode === 'view'"
                rows="2"></textarea>
            </div>

          </div>



          <div class="col-12" formArrayName="detalles">

            <div class="d-flex justify-content-between align-items-center mb-2">
              <label class="form-label mb-0 fw-semibold">Productos</label>
              @if (mode !== 'view') {
              <button type="button" class="btn btn-sm btn-outline-primary shadow-sm" (click)="addDetalle()">
                Agregar
              </button>
              }
            </div>

            <div *ngFor="let d of detalleFormArray.controls; let i = index" [formGroupName]="i"
              class="bg-white border rounded p-3 mb-3 shadow-sm">

              <div class="row g-3 align-items-end">

                <div class="col-md-4">
                  <label class="form-label">Producto</label>
                  <ng-select [items]="productos" bindLabel="nombre" bindValue="id" formControlName="idProducto"
                    placeholder="Seleccione un producto" (change)="onProductoChange(i)">
                  </ng-select>
                  <div class="text-danger small mt-1"
                    *ngIf="d.get('idProducto')?.touched && d.get('idProducto')?.invalid">
                    * Seleccioná un producto
                  </div>
                </div>

                <div class="col-md-3">
                  <label class="form-label">Cantidad</label>
                  <input class="form-control" type="number" formControlName="cantidad" placeholder="Ej: 2" min="1"
                    [readonly]="mode === 'view'" />
                  @if (d.get('cantidad')?.touched && d.get('cantidad')?.errors?.['required']) {
                  <div class="text-danger small mt-1">La cantidad es obligatoria</div>
                  }
                  @if (d.get('cantidad')?.touched && d.get('cantidad')?.errors?.['min']) {
                  <div class="text-danger small mt-1">La cantidad debe ser mayor a 0</div>
                  }
                </div>

                <div class="col-md-3">
                  <label class="form-label">Valor Unit.</label>
                  <div class="input-group shadow-sm">
                    <span class="input-group-text bg-light">$</span>
                    <input type="number" class="form-control" formControlName="valorVenta" min="1" readonly />
                  </div>

                  <div class="text-danger small mt-1"
                    *ngIf="d.get('valorVenta')?.touched && d.get('valorVenta')?.invalid">
                    * Debe ser mayor a 0
                  </div>
                </div>

                @if (mode !== 'view') {
                <div class="col-md-2">
                  <button type="button" class="btn btn-outline-danger w-100 shadow-sm" (click)="removeDetalle(i)">
                    Quitar
                  </button>
                </div>
                }

              </div>
            </div>
          </div>

          <div class="bg-light rounded p-4 mt-4 border-start border-4 border-success shadow-sm">
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-uppercase fw-bold text-muted tracking-wide">Total Reparación</span>
              <h2 class="fw-bold text-success mb-0">$ {{ totalCalculado }}</h2>
            </div>
          </div>

        </form>

        }
      </div>

      <div class="modal-footer bg-light px-4 py-3">

        @if (mode === 'delete') {
        <button type="button" class="btn btn-danger px-4 shadow-sm" (click)="onSubmit()">
          Borrar
        </button>
        } @else if (mode === 'create' || mode === 'edit') {
        <button type="submit" class="btn btn-success px-4 shadow-sm" form="form">
          {{ mode === 'create' ? 'Crear' : 'Guardar' }}
        </button>
        }

        <button type="button" class="btn btn-secondary px-4 shadow-sm" (click)="closed.emit()">
          {{ mode === 'view' ? 'Cerrar' : 'Cancelar' }}
        </button>
      </div>

    </div>
  </div>
</div>