/*@import 'ag-grid-community/styles/ag-grid.css';*/
/*@import 'ag-grid-community/styles/ag-theme-alpine.css';*/
@import "@ng-select/ng-select/themes/default.theme.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
:root {
  --color-sidebar-bg: #0b1f16; /* Verde muy oscuro del menú */
  --color-primary: #12b745; /* Verde brillante del botón activo */
  --color-bg-light: #f8f9fa; /* Fondo gris claro */
}

body {
  background-color: var(--color-bg-light);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
